/*
 * 重置
 */
/*---------- normalize ----------*/
/* margin:0, padding:0 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PingFang SC", arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
}
a {
  text-decoration: none;
  color: #666;
}
/* html5 shiv */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
/* Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* hidden */
[hidden] {
  display: none;
  visibility: hidden;
}
/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* abbr */
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
/* b, strong */
b,
strong {
  font-weight: bold;
  font-family: arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
}
/* code,kbd,pre,samp */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/* <del>常用于产品原价，此时Tahoma字体删除线有问题，故改用Arial字体 */
del {
  font-family: Arial;
}
/* img */
img {
  vertical-align: middle;
  border: 0;
}
/* list-style */
li {
  list-style: none;
}
/* mark */
mark {
  background: #ff0;
  color: #000;
}
/* pre */
pre {
  white-space: pre-wrap;
}
/* quote */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
/* sub, sup */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden;
}
/* reset fonts */
address,
caption,
cite,
dfn,
em,
i,
q,
th {
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
}
/*---------- form & button ----------*/
/* fieldset,legend */
fieldset,
legend {
  border: 0;
}
/* 
// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
// 2. Correct inability to style clickable `input` types in iOS.
// 3. Improve usability and consistency of cursor style between image-type `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
/* disabled */
button[disabled],
html input[disabled] {
  cursor: default;
}
/* reset fonts */
button,
input,
select,
select optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: middle;
}
/* Reset unusual Firefox-on-Android default style. See https://github.com/necolas/normalize.css/issues/214 */
button,
input,
select[multiple],
textarea {
  background-image: none;
}
/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* 
// Fix for Chrome number input
// Setting certain font-sizes causes the `I` bar to appear on hover of the bottom increment button.
// See https://github.com/twbs/bootstrap/issues/8350 for more.
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
/* textarea */
textarea {
  overflow: auto;
  vertical-align: top;
}
.header {
  background-color: #fff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .logobox {
  flex: 0 0 120px;
  order: -1;
}
.header .logobox img {
  width: 100%;
}
.header h1 {
  flex: 0 0 65px;
  font-size: 24px;
  color: #4665ff;
  font-style: italic;
  text-shadow: .5px .5px #4665ff;
  margin: 0 20px;
  padding-left: 15px;
  border-left: 1px solid #dbdee1;
}
.header .search {
  flex: 1;
  position: relative;
  line-height: 56px;
  height: 56px;
  font-size: 22px;
  background-color: #f3f5f7;
  border-radius: 5px;
  font-weight: 400;
  padding-left: 15px;
  color: #999;
  width: 320px;
}
.header .search i.iconfont {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 20px;
  color: #b7bbbf;
}
.header .search > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header .login {
  align-content: flex-end;
  margin-left: 15px;
  order: 5;
  flex: 0 0 28px;
}
.header .login img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.footer.common {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 0;
  z-index: 666;
}
.footer {
  height: 50px;
  width: 100%;
  max-width: 750px;
  background: #fff;
  box-shadow: 5px 0 10px #ddd;
  display: flex;
  justify-content: space-around;
  color: #8c919b;
}
.footer > a {
  width: 33%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.footer > a i {
  font-size: 20px;
}
.footer > a p {
  width: 100%;
}
@media (max-width: 640px) {
  .header {
    padding: 15px;
    flex: 1;
  }
  .header img {
    flex: 0 0 150px;
  }
  .header h1 {
    flex: 0 0 50px;
  }
  .header .search {
    flex: 1;
    width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0 10px;
    height: 60px;
  }
  .header h1 {
    margin: 0 5px;
    padding-left: 5px;
  }
  .header .login {
    margin-left: 5px;
  }
  .header .search {
    order: 5;
    width: 100%;
    height: 40px;
    line-height: 40px;
  }
}
html,
body {
  max-width: 750px;
  margin: 0 auto;
  height: 100%;
  background-color: #f3f5f7;
}
header {
  display: flex;
  flex: 1;
  padding: 15px 20px;
  position: relative;
  box-shadow: 0 5px 5px #ddd;
  align-items: center;
  background-color: #fff;
}
header > a.back {
  float: left;
}
header > a.back i.iconfont {
  font-size: 20px;
}
header h1 {
  order: 2;
  flex: 1;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
header span {
  order: 3;
  flex: 0 0 30px;
}
.coursevideo {
  position: relative;
}
.coursevideo img,
.coursevideo video {
  max-width: 100%;
}
.coursevideo .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.coursevideo .cover span.lasttime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.coursevideo .cover span.lasttime > img {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -30px;
  top: -5px;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 20px 0;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
nav span {
  width: 30%;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
}
nav span.current {
  color: #4665ff;
  border-color: #4665ff;
}
main .detail .introduce {
  background-color: #fff;
  padding: 20px;
}
main .detail .introduce h2 {
  font-weight: 400;
  font-size: 18px;
  padding: 0 0 10px;
}
main .detail .introduce p {
  font-size: 14px;
  color: #666;
  padding-bottom: 10px;
}
main .detail .introduce > div {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
main .detail .introduce > div .left span {
  vertical-align: middle;
}
main .detail .introduce > div .left img {
  vertical-align: middle;
  width: 143px;
}
main .detail ul {
  margin-top: 10px;
  background-color: #fff;
  padding: 0 20px;
}
main .detail ul p {
  margin-bottom: 10px;
}
main .detail ul li {
  display: flex;
  flex: 1;
  margin-bottom: 15px;
  justify-content: space-between;
}
main .detail ul li .imgbox {
  flex: 0 0 150px;
  height: 100px;
}
main .detail ul li .imgbox img {
  height: 100px;
  max-width: 100%;
}
main .detail ul li .content {
  position: relative;
  flex: 1;
  padding-left: 5px;
  min-height: 100px;
}
main .detail ul li .content h3 {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
main .detail ul li .content p {
  color: #666;
  font-size: 14px;
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
main .detail ul li .content .score {
  position: absolute;
  bottom: 0;
}
main .detail ul li .content .score img,
main .detail ul li .content .score span {
  vertical-align: middle;
  height: 15px;
  line-height: 15px;
}
main .detail ul li .content .score img {
  margin-top: -2px;
  width: 40%;
  max-width: 140px;
}
main .detail ul li .content .score span {
  display: inline-block;
  color: #888;
}
main .detail ul li .content .score span:nth-of-type(2) {
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid #888;
}
main .detail ul li .content > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .detail ul li:last-of-type {
  margin-bottom: 0;
}
main .detail .concrete {
  background: #fff;
  margin-top: 10px;
  padding: 20px;
}
main .detail .concrete > p {
  margin: 10px 0 20px;
  font-size: 18px;
}
main .detail .cd_kaoyan_mobile_170810 {
  padding-top: 0;
}
main .detail .cd_kaoyan_mobile_170810 .teacher {
  margin-top: 0;
}
main .mainpoint {
  display: none;
  background-color: #fff;
  padding: 20px 20px 0;
}
main .mainpoint dl {
  position: relative;
  padding-left: 7.5%;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
main .mainpoint dl i.iconfont {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 14px;
  color: #999;
}
main .mainpoint dl dt {
  font-size: 18px;
  margin: 15px 0;
}
main .mainpoint dl dd {
  position: relative;
  background-color: #f3f5f7;
  margin-bottom: 10px;
  padding: 5px 10px 5px 20px;
}
main .mainpoint dl dd span {
  float: right;
  color: #999;
}
main .mainpoint dl dd:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-left: 8px solid #8a8d9c;
  border-bottom: 4px solid transparent;
  left: 5px;
  top: 12px;
}
main .mainpoint dl:last-of-type {
  border-bottom: none;
}
main .appraisal {
  display: none;
  background-color: #fff;
  padding: 20px;
}
main .appraisal ul li {
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
main .appraisal ul li .personhead {
  float: left;
  width: 60px;
}
main .appraisal ul li .personhead img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
main .appraisal ul li .content {
  margin-left: 75px;
}
main .appraisal ul li .content .baseinfo {
  height: 18px;
  line-height: 18px;
}
main .appraisal ul li .content .baseinfo > div {
  margin-right: 55px;
}
main .appraisal ul li .content .baseinfo span {
  vertical-align: middle;
}
main .appraisal ul li .content .baseinfo > span {
  float: right;
  font-size: 12px;
  color: #999;
  width: 52px;
}
main .appraisal ul li .content > p {
  margin: 20px 0 0;
  line-height: 24px;
}
main .appraisal ul li .content > p.teacherreply {
  background-color: #f3f5f7;
  padding: 10px;
}
main .appraisal ul li .content > p.teacherreply span {
  color: red;
}
main .appraisal ul li:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
main .appraisal > a {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #f3f5f7;
}
main > button {
  margin-top: 20px;
  background-color: #706ffe;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 18px;
  height: 50px;
  letter-spacing: 2px;
}
@media (max-width: 480px) {
  main .detail > ul {
    padding: 15px 20px;
  }
  main .detail > ul li .content .score {
    line-height: 15px;
    font-size: 12px;
  }
  main .detail > ul li .content .score span:nth-of-type(2) {
    padding-left: 5px;
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  main .detail > ul li .content h3 {
    font-size: 16px;
  }
  main .detail > ul li .content p {
    font-size: 14px;
    margin: 8px 0;
  }
  main .detail > ul li .content .score img {
    width: 40%;
    height: 10px;
  }
  main .detail > ul li .content .score span:nth-of-type(2) {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
  }
}
@media (max-width: 360px) {
  main .detail > ul {
    padding: 15px 5px;
  }
  main .detail > ul li .imgbox {
    flex: 0 0 120px;
    height: 80px;
  }
  main .detail > ul li .imgbox img {
    height: 80px;
  }
  main .detail > ul li .content {
    min-height: 80px;
  }
  main .detail > ul li .content h3 {
    font-size: 14px;
  }
  main .detail > ul li .content p {
    font-size: 12px;
    margin: 3px 0;
  }
  main .detail > ul li .content .score img {
    width: 40%;
    height: 10px;
  }
  main .detail > ul li .content .score span:nth-of-type(2) {
    padding-left: 0px;
  }
}
.sharemodal {
  display: none;
  transition: all .5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.sharemodal .share {
  position: fixed;
  background-color: #eeeff7;
  bottom: 40px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sharemodal .cancel {
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: #fff;
  text-align: center;
}
